<nav class="navbar">
    <div class="navbar-logo-container">
        <a th:href="@{/}" id="navbar-logo">
            <img th:src="@{/images/bilabonnement.png}" alt="Bilabonnement">
        </a>
    </div>
    <div class="nav-links">
        <a href="/employee_frontpage">Forside</a>
        <a href="/salesperson/car_overview">Biloverblik</a>
        <a class="active" href="/salesperson/customer_overview">Kundeoverblik</a>
        <a>
            <form action="/logout" method="post">
                <button id="nav-button" type="submit">Log ud</button>
            </form>
        </a>
    </div>
</nav>