<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personale</title>
</head>
<body>
    <header>
        <div th:replace="~{fragments/navbar/admin/navbar}"></div>
    </header>
    <h1>Personale</h1>
    <form action="/admin/prepare_new_employee" method="get">
        <button type="submit">+ Opret ny bruger</button>
    </form>
    <br>
    <table>
        <thead><td>E-MAIL</td><td>ROLLE</td></thead>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.email}"></td>
            <td th:switch="${employee.employeeRole}">
                <span th:case="SALESPERSON">Medarbejder</span>
                <span th:case="MECHANIC">Mekaniker</span>
                <span th:case="BUSINESS_DEV">Forretningsudvikler</span>
                <span th:case="ADMIN">Admin</span>
            </td>
            <td><form action="/admin/prepare_employee_update" method="get">
                    <input type="hidden" name="employeeId" th:value="${employee.id}">
                    <button type="submit">✎ Rediger</button>
            </form></td>
            <td><form action="/admin/prepare_employee_deletion" method="get">
                <input type="hidden" name="employeeId" th:value="${employee.id}">
                <input type="hidden" name="employeeId" th:value="${employee.email}">
                <button type="submit">🗑 Slet</button>
            </form></td>
        </tr>
    </table>
</body>
</html>