<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Forside</title>
    <link rel="stylesheet" th:href="@{/styles/general.css}">
    <link rel="stylesheet" th:href="@{/styles/frontpage.css}">
</head>
<body>
    <header>
        <div th:replace="~{fragments/navbar/admin/frontpage}"></div>
    </header>
    <div class="center-page">
        <div class="frontpage-center">
            <div class="frontpage">
                <h1>Velkommen, Admin 🧑🏻‍💻</h1>
            </div>
        </div>
    </div>
    <footer>
        <div th:replace="~{fragments/footer}"></div>
    </footer>
</body>
</html>