<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Business Developer Dashboard</title>
    <link rel="stylesheet" th:href="@{/styles/businessdeveloper/dashboard.css}">
</head>
<body>

<header>
    <div th:replace="~{fragments/navbar/businessdev/navbar}"></div>
</header>

<h1>Business Developer Dashboard</h1>

<form action="/business_developer/average_payment_time" method="get">
    <button type="submit">Show Average Payment Time</button>
</form>
<form action="/business_developer/average_transport_time" method="get">
    <button type="submit">Show Average Transport Time</button>
</form>
<!--<form action="/business_developer/leasing_speed" method="get">
    <button type="submit">Show Leasing Speed</button>
</form> -->
<form action="/business_developer/rented_cars_count" method="get">
    <button type="submit">Show Rented Cars Count</button>
</form>
<form action="/business_developer/total_price_of_rented_cars" method="get">
    <button type="submit">Show Total Price of Rented Cars</button>
</form>

</body>
</html>
