<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret Faktura</title>
</head>
<body>
    <header>
        <div th:replace="~{fragments/navbar/salesperson/navbar}"></div>
    </header>
    <h1>Opret Faktura</h1>
    <form action="/salesperson/create_invoice" method="post">
        <input type="hidden" name="leaseAgreementId" th:value="${leaseAgreement.id}">
        <br>
        <span>Skader:</span>
        <br>
        <span th:each="damageReport : ${damageReports}">
            <span th:text="'Beskrivelse: ' + ${damageReport.damageText}"></span>
            <br>
            <span th:text="'Pris: ' + ${damageReport.price}"></span>
            <br>
            <br>
        </span>
        <span>Leasingperiode: </span>
        <span th:text="${period} + ' måneder'"></span>
        <br>
        <br>
        <span>Bruttopris:</span>
        <input type="hidden" name="grossPrice" th:value="${grossPrice}">
        <span th:text="${grossPrice} + ' kr.'"></span>
        <br>
        <br>
        <span>Førstegangsydelse:</span>
        <input type="hidden" name="downPayment" th:value="${downPayment}">
        <span th:text="${downPayment} + ' kr.'"></span>
        <br>
        <br>
        <span>Nettopris:</span>
        <input type="hidden" name="netPrice" th:value="${netPrice}">
        <span th:text="${netPrice} + ' kr.'"></span>
        <br>
        <br>
        <button type="submit">Opret faktura</button>
    </form>
</body>
</html>