<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tilføj Bilmodel</title>
</head>
<body>
    <header>
        <div th:replace="~{fragments/navbar/salesperson/navbar}"></div>
    </header>
    <h1>Tilføj ny <span th:text="${carBrand.brand}"></span>-model</h1>
    <form action="/salesperson/prepare_new_car" method="get">
        <button type="submit">< OVERBLIK</button>
    </form>
    <br>
    <form action="/salesperson/create_car_model" method="post">
        <input type="hidden" name="carBrand" th:value="${carBrand.brand}">
        <span th:if="${carModelExists != null}">
            <span th:text="${carModelExists}"></span>
            <br>
            <br>
        </span>
        <label for="carModelName">Modelnavn:</label>
        <input type="text" maxlength="50" id="carModelName" name="carModelName" placeholder="Indtast modelnavn" th:value="${param.carModelName}" required>
        <br>
        <br>
        <label for="carType">Biltype:</label>
        <select id="carType" name="carType" required>
            <option value="">Vælg biltype</option>
            <option th:each="carType : ${carTypes}" th:text="${carType.displayValue}" th:value="${carType}"></option>
        </select>
        <br>
        <br>
        <button type="submit">Opret model</button>
    </form>
</body>
</html>