<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Slet Bilmodel</title>
    <link rel="stylesheet" th:href="@{/styles/general.css}">
    <link rel="stylesheet" th:href="@{/styles/salesperson/car/carmodel/delete_car_model.css}">
</head>
<body>
    <header>
        <div th:replace="~{fragments/navbar/salesperson/car_overview}"></div>
    </header>
    <div class="center-page">
        <div class="center-form" id="center-car-model-form">
            <div class="form-box">
                <h1>Slet <span th:text="${carBrand.brand} + ' ' + ${carModel.modelName}"></span></h1>
                <form action="/salesperson/car_model_overview" method="get">
                    <input type="hidden" name="carBrand" th:value="${carBrand.brand}">
                    <button class="overview" type="submit">< OVERBLIK</button>
                </form>
                <div class="info-text">
                    <a>Er du sikker på at du vil slette bilmodellen <span th:text="${carBrand.brand} + ' ' + ${carModel.modelName}"></span>?</a>
                </div>
                <form action="/salesperson/delete_car_model" method="post">
                    <input type="hidden" name="carModelId" th:value="${carModel.id}">
                    <input type="hidden" name="carBrand" th:value="${carBrand.brand}">
                    <button class="operation-button delete-button" type="submit">Slet</button>
                </form>
                <form action="/salesperson/car_model_overview" method="get">
                    <input type="hidden" name="carBrand" th:value="${carBrand.brand}">
                    <button class="operation-button cancel-button" type="submit">FORTRYD</button>
                </form>
            </div>
        </div>
    </div>
    <footer>
        <div th:replace="~{fragments/footer}"></div>
    </footer>
</body>
</html>