<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret Bilmærke</title>
</head>
<body>
    <header>
        <div th:replace="~{fragments/navbar/salesperson/frontpage}"></div>
    </header>
    <h1>Tilføj bilmærke</h1>
    <form action="/salesperson/car_brand_overview" method="get">
        <button type="submit">< OVERBLIK</button>
    </form>
    <br>
    <form action="/salesperson/create_car_brand" method="post">
        <span th:if="${carBrandExists != null}">
            <span th:text="${carBrandExists}"></span> <!-- Show an error message if the car brand already exists -->
            <br>
        </span>
        <label for="carBrand">Bilmærke:</label>
        <input type="text" maxlength="50" name="carBrand" id="carBrand" placeholder="Indtast bilmærke" required>
        <br>
        <br>
        <button type="submit">Opret bilmærke</button>
    </form>
</body>
</html>