<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kunde Overblik</title>
</head>
<body>
<header>
    <div th:replace="~{fragments/navbar/salesperson/frontpage}"></div>
</header>
<h1>Kunde Overblik</h1>

<a href="/salesperson/new_customer">
    <button type="button">NY KUNDE</button>
</a>

<table>
    <tr>
        <th>Fornavn</th>
        <th>Efternavn</th>
        <th>Mobilnummer</th>
        <th>Actions</th>
    </tr>
    <tr th:each="customer : ${customers}">
        <td>
            <span th:text="${customer.firstName}"></span>
            <form th:action="@{/salesperson/customer_profile/{id}(id=${customer.id})}" method="get">
                <input type="hidden" name="origin" value="profile">
                <button type="submit">Se profil</button>
            </form>
        </td>
        <td th:text="${customer.lastName}"></td>
        <td th:text="${customer.phoneNumber}"></td>
        <td>
            <form th:action="@{/salesperson/prepare_update/{id}(id=${customer.id})}" method="get">
                <input type="hidden" name="origin" value="overview">
                <button type="submit">OPDATER</button>
            </form>
            <form th:action="@{/salesperson/confirm_delete_customer/{id}(id=${customer.id})}" method="get">
                <input type="hidden" name="origin" value="overview">
                <button type="submit">SLET</button>
            </form>
        </td>
    </tr>
</table>

</body>
</html>
