<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${customer.firstName} + ' ' + ${customer.lastName} + ' Profil'">Kundeprofil</title>
</head>
<body>
<header>
    <div th:replace="~{fragments/navbar/salesperson/frontpage}"></div>
</header>
<h1 th:text="${customer.firstName} + ' ' + ${customer.lastName} + ' Profil'">Kundeprofil</h1>

<hr>
<hr>

<table>
    <tr>
        <th>Fornavn:</th>
        <td th:text="${customer.firstName}"></td>
    </tr>
    <tr>
        <th>Efternavn:</th>
        <td th:text="${customer.lastName}"></td>
    </tr>
    <tr>
        <th>Mobilnummer:</th>
        <td th:text="${customer.phoneNumber}"></td>
    </tr>
    <tr>
        <th>Email:</th>
        <td th:text="${customer.email}"></td>
    </tr>
    <tr>
        <th>Adresse:</th>
        <td th:text="${customer.address}"></td>
    </tr>
    <tr>
        <th>Postnummer:</th>
        <td th:text="${customer.zipCode}"></td>
    </tr>
</table>
<form th:action="@{/salesperson/prepare_update/{id}(id=${customer.id})}" method="get">
    <input type="hidden" name="origin" value="profile">
    <button type="submit">Opdater</button>
</form>
<form th:action="@{/salesperson/confirm_delete_customer/{id}(id=${customer.id})}" method="get">
    <input type="hidden" name="origin" value="profile">
    <button type="submit">SLET</button>
</form>
<form th:action="@{/salesperson/customer_overview}" method="get">
    <button type="submit">Tilbage til oversigt</button>
</form>
<td>

</td>
<form action="/salesperson/new_lease_agreement" method="get">
    <input type="hidden" name="customerId" th:value="${customer.id}">
    <button type="submit">Ny Leasingaftale</button>
</form>
<hr>
<hr>
<h2>Leasingaftaler</h2>
<span th:each="leaseAgreement : ${leaseAgreements}">
    <form th:action="@{/salesperson/show_lease_agreement_details/{leaseAgreementId} (leaseAgreementId = ${leaseAgreement.id})}" method="get">
        <div class="">
            <!--Receive a Car Model object by the Car ID that the lease agreement has -->
            <button type="submit"><span th:text="${carService.getCarModelById(leaseAgreement.carId).brand} + ' ' + ${carService.getCarModelById(leaseAgreement.carId).modelName}"></span></button>
        </div>
    </form>
</span>
</body>
</html>
