<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kunde Overblik</title>
</head>
<body>
<header>
    <div th:replace="~{fragments/navbar/salesperson/navbar}"></div>
</header>
<h1>Kunde Overblik</h1>

<a href="/salesperson/new_customer">
    <button type="button">NY KUNDE</button>
</a>

<table>
    <tr>
        <th>Fornavn</th>
        <th>Efternavn</th>
        <th>Mobilnummer</th>
        <th>Actions</th>
    </tr>
    <tr th:each="customer : ${customers}">
        <td>
            <a th:href="@{/salesperson/customer_profile/{id}(id=${customer.id})}" th:text="${customer.firstName}"></a>
        </td>
        <td th:text="${customer.lastName}"></td>
        <td th:text="${customer.phoneNumber}"></td>
        <td>
            <a th:href="@{/salesperson/prepare_update/{id}(id=${customer.id})}">
                <button type="button">OPDATER</button>
            </a>
            <a th:href="@{/salesperson/confirm_delete_customer/{id}(id=${customer.id})}">
                <button type="button">SLET</button>
            </a>
            <a th:href="@{/salesperson/show_lease_agreement_details/{id}(id=${customer.id})}">
                <button type="submit">Vis leasingaftale</button>
            </a>
            </a>
        </td>
    </tr>
</table>

</body>
</html>
