<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ny Leasingaftale</title>
    <link rel="stylesheet" th:href="@{/styles/general.css}">
    <link rel="stylesheet" th:href="@{/styles/salesperson/leaseagreement/new_lease_agreement.css}">
</head>
<body>
<header>
    <div th:replace="~{fragments/navbar/salesperson/customer_overview}"></div>
</header>
<div class="center-page">
    <div class="center-form" id="center-lease-agreement-form">
        <div class="form-box">
            <h1>Ny leasingaftale</h1>
            <form th:action="@{/salesperson/customer_profile/{id}(id=${customer.id})}" method="get">
                <input type="hidden" name="origin" value="profile">
                <button class="overview" type="submit">< Overblik</button>
            </form>
            <br>
            <form method="post" action="/salesperson/create_lease_agreement" class="two-column-form">
                <div class="form-left">
                    <input type="hidden" id="customerId" name="customerId" th:value="${customer.id}" required>

                    <!-- BRUG DENNE SENERE NÅR VI SENDER ID <label for="customerId">Customer ID:</label>
                    <input type="hidden" id="customerId" name="customerId" th:value="${customer.id}"> -->

                    <label for="carId">Vælg bil</label>
                    <br>
                    <select id="carId" name="carId">
                        <option value="">Vælg bil</option>
                        <th:block th:each="car : ${cars}">
                            <option th:value="${car.id}" th:text="${carService.getCarModelById(car.carModelId).brand} +
                             ' ' + ${carService.getCarModelById(car.carModelId).modelName} +
                             ' - ' + ${car.licensePlate}"></option>
                        </th:block>
                    </select>
                    <br>
                    <br>
                    <label for="startDate">Startdato</label>
                    <br>
                    <input type="date" id="startDate" name="startDate" required>
                    <br>
                    <br>
                    <label for="endDate">Slutdato</label>
                    <br>
                    <input type="date" id="endDate" name="endDate" required>
                    <br>
                    <br>
                    <label for="boughtKm">Købte km</label>
                    <br>
                    <input type="text" id="boughtKm" name="boughtKm" placeholder="Indtast købte km" required>

                    <!--<label for="startKm">Start KM:</label>
                    <input type="text" id="startKm" name="startKm" required><br>-->
                    <input type="hidden" name="startKm" value="0">
                </div>
                <div class="form-right">
                    <label for="paymentTime">Betalingstid</label>
                    <br>
                    <input type="text" id="paymentTime" name="paymentTime" placeholder="Indtast betalingstid" required>
                    <br>
                    <br>
                    <label for="transportTime">Transporttid</label>
                    <br>
                    <input type="text" id="transportTime" name="transportTime" placeholder="Indtast transporttid" required>
                    <br>
                    <br>
                    <label for="price">Pris pr. måned</label>
                    <br>
                    <input type="text" id="price" name="price" placeholder="Indtast pris pr. måned" required>
                    <br>
                    <button class="operation-button create-button" type="submit">Opret leasingaftale</button>
                </div>
            </form>
        </div>
    </div>
</div>
<footer>
    <div th:replace="~{fragments/footer}"></div>
</footer>
</body>
</html>
