<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ny Leasingaftale</title>
    <link rel="stylesheet" th:href="@{/styles/general.css}">
    <link rel="stylesheet" th:href="@{/styles/salesperson/leaseagreement/new_lease_agreement.css}">
</head>
<body>
<header>
    <div th:replace="~{fragments/navbar/salesperson/customer_overview}"></div>
</header>
<div class="center-page">
    <div class="center-form" id="center-lease-agreement-form">
        <div class="form-box">
            <h1>Ny leasingaftale</h1>
            <form th:action="@{/salesperson/customer_profile/{id}(id=${customer.id})}" method="get">
                <input type="hidden" name="origin" value="profile">
                <button class="overview" type="submit">< Overblik</button>
            </form>
            <br>
            <form method="post" action="/salesperson/create_lease_agreement" class="two-column-form">
                <div class="form-left">
                    <input type="hidden" id="customerId" name="customerId" th:value="${param.customerId}" required>
                    <label for="carId">Vælg bil</label>
                    <br>
                    <select id="carId" name="carId" th:value="${param.carId}">
                        <option value="">Vælg bil</option>
                        <th:block th:each="car : ${cars}">
                            <option th:value="${car.id}" th:text="${carService.getCarModelById(car.carModelId).brand} + ' ' + ${carService.getCarModelById(car.carModelId).modelName} + ' - ' + ${car.licensePlate}"></option>
                        </th:block>
                    </select>
                    <br><br>

                    <label for="startDate">Startdato</label>
                    <input type="date" id="startDate" name="startDate" th:value="${param.startDate}" required>
                    <br><br>
                    <!-- Error message display -->
                    <div th:if="${errorMessage}" class="error-message" style="color: red;">
                        <p th:text="${errorMessage}"></p>
                    </div>
                    <label for="endDate">Slutdato</label>
                    <input type="date" id="endDate" name="endDate" th:value="${param.endDate}" required>
                    <br><br>
                    <label for="boughtKm">Købte km</label>
                    <input type="number" id="boughtKm" name="boughtKm" placeholder="Indtast købte km" th:value="${param.boughtKm}" min="0" required>
                    <br><br>
                </div>
                <div class="form-right">
                    <label for="paymentTime">Betalingstid</label>
                    <input type="number" id="paymentTime" name="paymentTime" placeholder="Indtast betalingstid" th:value="${param.paymentTime}" min="0" required>
                    <br><br>
                    <label for="transportTime">Transporttid</label>
                    <input type="number" id="transportTime" name="transportTime" placeholder="Indtast transporttid" th:value="${param.transportTime}" min="0" required>
                    <br><br>
                    <label for="price">Pris pr. måned</label>
                    <input type="number" id="price" name="price" placeholder="Indtast pris pr. måned" th:value="${param.price}" min="0" step="0.01" required>
                    <br>
                    <button class="operation-button create-button" type="submit">Opret leasingaftale</button>
                    <br>
                </div>
            </form>
        </div>
    </div>
</div>
<footer>
    <div th:replace="~{fragments/footer}"></div>
</footer>
</body>
</html>