<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opdater Kunde</title>
</head>
<body>
<header>
    <div th:replace="~{fragments/navbar/navbar}"></div>
</header>
<h1>Opdater Kunde</h1>
<form method="post" th:action="@{/salesperson/update_customer}">
    <input type="hidden" name="id" th:value="${customer.id}"/>
    <label for="firstName">Fornavn:</label>
    <input type="text" maxlength="50" id="firstName" name="firstName" placeholder="Indtast navn" th:value="${customer.firstName}" pattern="[A-Za-zÆØÅæøå\s]+" title="Indtast venligst et gyldigt navn" required><br>
    <label for="lastName">Efternavn:</label>
    <input type="text" maxlength="50" id="lastName" name="lastName" placeholder="Indtast efternavn" th:value="${customer.lastName}" pattern="[A-Za-zÆØÅæøå\s-]+" title="Indtast venligst et gyldigt efternavn" required><br>
    <label for="phoneNumber">Mobilnummer:</label>
    <input type="text" id="phoneNumber" name="phoneNumber" th:value="${customer.phoneNumber}"/><br>
    <label for="email">Email:</label>
    <input type="email" maxlength="100" id="email" name="email" th:value="${customer.email}"/><br>
    <label for="address">Adress:</label>
    <input type="text" id="address" name="address" th:value="${customer.address}"/><br>
    <label for="zipCode">Postnummer:</label>
    <input type="text" id="zipCode" name="zipCode" th:value="${customer.zipCode}"/><br>
    <button type="submit">Opdater</button>
    <form action="/salesperson/customer_overview" method="get">
        <button type="submit">FORTRYD</button>
    </form>
</form>