body {
    position: relative;
    margin: 0;
    padding-bottom: 100px;
    background-color: #f2f2f2;
    min-height: 100vh;
}

.center-page {
    padding: 2rem 10rem 0 10rem;
}

#customer-overview-form {
    margin: auto auto 4rem;
    width: 30rem;
    padding-top: inherit;
}

.form-box {
    background: #ffffff;
    border-radius: 6px;
    height: auto;
    padding: 2rem;
    box-shadow: rgb(169 169 169) 0 4px 30px;
}

.overview {
    margin-top: 5px;
    padding: 10px 10px 10px 0;
    border-radius: 6px;
    text-decoration: none;
    border: none;
    background-color: white;
}

.overview:hover {
    background: #f2f2f2;
}

table {
    border-collapse: collapse !important;
    width: 100%;
}

td {
    padding: 10px;
}

tr {
    border-style: solid;
    background: rgb(255, 255, 255);
    width: 100%;
    border-color: #d8d8d8;
}

th {
    text-align: left;
    padding: 1rem;
    width: 10%;
}

.operation-button {
    font-size: small;
    line-height: 12px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 6px;
    border: none;
    padding: 0 30px;
    height: 49px;
    margin: 0;
    color: white !important;
    width: 100%;
    box-shadow: rgb(171 171 171 / 47%) 0 4px 30px;
}

.delete-button {
    background: #e14b3b !important;
    margin: 1rem 0 1rem 0;
}

.delete-button:hover {
    background: #f17161 !important;
}


.cancel-button {
    background: #979797 !important;
}

.cancel-button:hover {
    background: #c4c4c4 !important;
}


.error-message {
    font-size: 14px;
    margin-top: 10px;
}

.red-text {
    color: red !important;
}