<nav class="navbar">
    <img th:src="@{/images/bilabonnement.png}" alt="Bilabonnement">
    <!--<div class="img-pointer" th:onclick="|window.location.href='@{/userFrontpage(userId=${user.userId})}'|" th:insert="~{home/navbar/navLogo :: b}"></div>-->
    <div class="nav-links">
        <a th:href="@{/}">Forside</a>
        <a class="active" th:href="@{/admin/employee_overview}">Personaleoverblik</a>
        <a>
            <form action="/logout" method="post">
            <button id="nav-button" type="submit">Log ud</button></form>
        </a>
    </div>
</nav>