<nav class="navbar">
    <div class="navbar-logo-container">
        <a th:href="@{/}" id="navbar-logo">
            <img th:src="@{/images/bilabonnement.png}" alt="Bilabonnement">
        </a>
    </div>
    <div class="nav-links">
        <a class="active" th:href="@{/}">Forside</a>
        <a th:href="@{/admin/employee_overview}">Personaleoverblik</a>
        <a>
            <form action="/logout" method="post">
            <button id="nav-button" type="submit">Log ud</button></form>
        </a>
    </div>
</nav>