body {
    position: relative;
    margin: 0;
    padding-bottom: 100px;
    background-color: #f2f2f2;
    min-height: 100vh;
}

.center-page {
    padding: 2rem 10rem 0 10rem;
}

#car-overview-form {
    margin: auto auto 4rem;
    width: 55rem;
    padding-top: inherit;
}

.form-box {
    background: #ffffff;
    border-radius: 6px;
    height: auto;
    padding: 2rem;
    box-shadow: rgb(169 169 169) 0 4px 30px;
}

#create-button {
    padding-top: 0.5rem;
    color: #1892c3;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.4rem;
    border: none;
    background: none;
}

#create-button:hover {
    transition: 0.27s linear;
    color: #54c9ff !important;
}

table {
    border-collapse: collapse !important;
    width: 100%;
}

thead {
    font-weight: bold;
}

td {
    padding: 10px;
}

#car-brand-td {
    padding: 0;
}

#table-brand {
    width: 30%;
    padding: 10px 10px 10px 0;
}

#table-model {
    width: 30%;
    padding: 10px 10px 10px 0;
}

#table-license-plate {
    width: 25%;
    padding: 10px 10px 10px 0;
}

#table-status {
    width: 10%;
    padding: 10px 10px 10px 0;
}

.general-car-info {
    border-style: solid;
    background: rgb(255, 255, 255);
    width: 100%;
    border-color: #d8d8d8;
}

.car-brand-button {
    font-size: inherit;
    padding: 10px;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
}

#car-update-td {
    padding: 10px 5px 10px 10px;
}

#car-delete-td {
    padding: 10px 10px 10px 5px;
}

.car-button {
    border-style: none;
    border-radius: 4px;
    border-width: 1px;
    height: 45px;
    color: #ffffff;
    padding: 0.3rem;
}

.car-update-button {
    background: #318cc1;
    width: 75px;
}

#car-brands-update-button {
    width: 20%;
}

.car-update-button:hover {
    background: #4ea6e5;
}

.car-delete-button {
    background: #e14b3b;
    width: 70px;
}

.car-delete-button:hover {
    background: #f17161;
}

#rented-status-true {
    color: red;
}

#rented-status-false {
    color: limegreen;
}